.friendList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    }
    .item{
    display: flex;
    width: 200px;
    height: 80px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .name{
    font-size: 20px;
    }
    .statusOnline{
        display: block; 
        background-color: green; 
        width: 16px;
        height:16px;
        margin-left: 4px;
        border-radius: 50%;
    }
    .statusOffline{
        display: block; 
        background-color: red; 
        width: 16px;
        height:16px;
        margin-left: 4px;
        border-radius: 50%;
    }
    